<head>
    <link rel="stylesheet" href="./style/app.css" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <title>Farhad's memo</title>
</head>
<body>
    <header>
     <h1>Farhad's <span>memo</span></h1>
     <!--<h2>A simple memo app built with node</h2>-->
    </header>
    
    <section class="form">
     <input type="text" id="memoInput" placeholder="Type here..." tabindex="1">
    </section>   

    <ul class="list">
    </ul>    

    <!--<footer>-->
    <!--    <a href="#"><img width="110" alt="Node.js logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/512px-Node.js_logo.svg.png"/></a>-->
    <!--</footer>-->

<script type="text/javascript" src="./script/app.js"></script>    
</body>

